body {
    background: rgb(30,30,30);
    background: linear-gradient(179deg, rgba(30,30,30,1) 0%, rgba(47,0,129,1) 50%, rgba(94,0,255,1) 100%);
    background-repeat: no-repeat;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

::selection {
    background-color: #6e0dff;
    color: black;
}

#loading-logo {
    width: 150px;
    height: 150px;
    transition: transform 0.1s ease;
}

#loading-logo.zoom-effect {
    transition: transform 0.8s ease;
    transform: scale(5);
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #19191f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    overflow: hidden;
    opacity: 1;
    transition: opacity 2s ease;
}

#loading-percentage {
    position: absolute;
    bottom: 25%;
    color: white;
    font-size: 28px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

#loading-bar-container {
    position: absolute;
    bottom: 20%;
    width: 60%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

#loading-bar {
    width: 0%;
    height: 100%;
    background-color: #6e0dff;
    border-radius: 5px;
    transition: width 0.1s ease;
}

.header-text {
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-size: 24px;
}
.container--tm-title {
    rotate: 12deg;
    color: white;
    font-size: 32px;
}

.container--title {
    color: white;
    font-size: 36px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    top: -0.5rem;
}

.header-content {
    height: 406px;
    width: 762px;
    background: rgba(0, 0, 0, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(0, 0, 0, 0.09);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    webkit-box-shadow: 0px 0px 64px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 64px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 64px 0px rgba(0,0,0,0.6);
    text-align: center;
    transition: transform 1s ease-out;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.header--subtitle {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    top: 1rem;
}

.pp {
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -2.7rem
}
